@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%, 50%;
  }
  50% {
    background-position: 100% 100%, 50%;
  }
  100% {
    background-position: 0% 0%, 50%;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(0, 0, 0) /* Start with transparent and end with purple */
    )
    rgb(29, 1, 36); /* Set the background color to purple */
  background-size: 400% 400%, 100% 100%; /* Include depth dimension for a 3D effect */
  animation: gradientAnimation 10s ease infinite; /* Adjust the animation duration as needed */

}

.blur-on-hover {
  transition: filter 0.3s ease;
}

.blur-on-hover:hover {
  filter: blur(5px); /* Adjust the blur intensity as needed */
}
